.movie-headers {
  display: flex;
  gap: 5rem;
}

.info {
  display: inline-block;
}

#rated {
  padding: 0.5rem 1rem;
  background-color: green;
  border-radius: 20px;
}

.popup-menu {
  display: none;
  position: absolute;
  height: 60%;
  aspect-ratio: 2;
  background-color: white;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list {
  height: 80%;
  left: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
