:root {
  --first-color: #2b2d42;
  --second-color: #8d99ae;
  --third-color: #edf2f4;
  --fourth-color: #ef233c;
  --fifth-color: #d90429;
}

body {
  background-color: black;
  color: var(--third-color);
}

.movie-headers {
  display: flex;
  gap: 5rem;
}

.info {
  display: inline-block;
}

.poster {
  display: grid;
  place-items: center;
  border: white solid 1px;
  height: 31rem;
  aspect-ratio: 2/3;
}

#poster {
  height: 30rem;
  aspect-ratio: 2/3;
}

#rated {
  padding: 0.5rem 1rem;
  background-color: green;
  border-radius: 20px;
}

.popup-menu {
  color: black;
  display: none;
  position: absolute;
  height: 60%;
  aspect-ratio: 2;
  background-color: white;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.list {
  height: 80%;
  left: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
